@{
    ViewBag.Title = "Contact";
}


<div class="container">
    <h2>Contacts</h2>

    <address>
        33 Aleksander Malinov Blvd<br />
        Sofia<br />
        <abbr title="Phone">Phone:</abbr>
        +359 88 888 888
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@soccer-tournaments.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@soccer-tournaments.com</a>
    </address>
</div>