@model IEnumerable<TournamentsMVC.ViewModels.Models.PlayerViewModel>
@{
    ViewBag.Title = "Tournaments";
}

<div class="banner">
    <div class="container">
        <div class="banner_desc">
            <h1>Soccer Tournaments</h1>
            <h2>Register, team up, play, win!</h2>            
        </div>
    </div>
</div>
<div class="content_top">
    <div class="container"> 
      <div class="row">
            <div class="about-block-content">
                <div class="border-add"></div>
                <h4>About Soccer Tournaments</h4>
                <p>Soccertournaments is great way to stay fit playing IRL with your friends, while also dominating other teams!</p>
                <p>Join our awesome community today.</p>
                <p> </p>
            </div>
        </div>
        <div class="row">
            <img src="~/Content/SiteImages/tournament-home.jpg" class="img-responsive" alt="tournament-home" />
        </div>
        <div class="clearfix"></div>
    </div>
</div>