@{
    ViewBag.Title = "Chat";
}

@section styles{
    @Styles.Render("~/Content/chat.css")
}

<div class="container main-content">
    <div class="row">
        <div class="col-md-3">
            <div class="text-danger" id="error-msg"></div>
            <input name="username" placeholder="username" id="username" class="form-control inline-block"/>
            <button type="submit" id="submit-user" class="btn btn-info">Send Message</button>
        </div>
        <div class="col-md-8 display-none" id="chat-panel" data-username="">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-comment"></span> Chat
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </button>
                        <ul class="dropdown-menu slidedown">
                            <li>
                                <a href="http://www.jquery2dotnet.com">
                                    <span class="glyphicon glyphicon-refresh">
                                    </span>Refresh
                                </a>
                            </li>
                            <li>
                                <a href="http://www.jquery2dotnet.com">
                                    <span class="glyphicon glyphicon-ok-sign">
                                    </span>Available
                                </a>
                            </li>
                            <li>
                                <a href="http://www.jquery2dotnet.com">
                                    <span class="glyphicon glyphicon-remove">
                                    </span>Busy
                                </a>
                            </li>
                            <li>
                                <a href="http://www.jquery2dotnet.com">
                                    <span class="glyphicon glyphicon-time"></span>
                                    Away
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="http://www.jquery2dotnet.com">
                                    <span class="glyphicon glyphicon-off"></span>
                                    Sign Out
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="panel-body">
                    <ul class="chat" id="messages">
                    </ul>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input id="msg-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                        <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" id="msg-btn">
                                Send
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/Scripts/jquery.signalR-2.2.1.min.js")
    <script src="~/signalr/hubs"></script>
     @Scripts.Render("~/Scripts/Custom/chat.js");
}