@model TournamentsMVC.ViewModels.Models.IndexViewModel
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Profile";
}

<div>
    <div class="card hovercard">
        <div class="card-background">
            <img class="card-bkimg" alt="" src="~/Content/SiteImages/profile-banner.jpg">
            <!-- http://lorempixel.com/850/280/people/9/ -->
        </div>
        <div class="useravatar">
            <img alt="" src="~/Content/SiteImages/profile-icon.png">
        </div>
        @*<div class="card-info">*@
            <h2 class="card-info text-center text-uppercase">@(User.Identity.GetUserName())</h2>
            @*<span class="card-title">Pamela Anderson</span>
        </div>*@
    </div>
    <div class="container">
        <ul class="nav nav-tabs nav-justified">
            <li class="active">
                <a href="#1" data-toggle="tab" class="text-bold">Want to Read</a>
            </li>
            <li>
                <a href="#2" data-toggle="tab" class="text-bold">Read</a>
            </li>
            <li>
                <a href="#3" data-toggle="tab" class="text-bold">Currently Reading</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="1">
                <h3>Standard tab panel created on bootstrap using nav-tabs</h3>
            </div>
            <div class="tab-pane" id="2">
                <h3>Notice the gap between the content and tab after applying a background color</h3>
            </div>
            <div class="tab-pane" id="3">
                <h3>add clearfix to tab-content (see the css)</h3>
            </div>
        </div>
    </div>
</div>

@*<div class="container main-content">
    <h2 class="text-center text-uppercase profile-username">@(User.Identity.GetUserName())</h2>
 
    <div class="container">
        <ul class="nav nav-tabs nav-justified">
            <li class="active">
                <a href="#1" data-toggle="tab" class="text-bold">Want to Read</a>
            </li>
            <li>
                <a href="#2" data-toggle="tab" class="text-bold">Read</a>
            </li>
            <li>
                <a href="#3" data-toggle="tab" class="text-bold">Currently Reading</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="1">
                <h3>Standard tab panel created on bootstrap using nav-tabs</h3>
            </div>
            <div class="tab-pane" id="2">
                <h3>Notice the gap between the content and tab after applying a background color</h3>
            </div>
            <div class="tab-pane" id="3">
                <h3>add clearfix to tab-content (see the css)</h3>
            </div>
        </div>
    </div>
</div>*@